.video-page {
    padding-top: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dbebffd0;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}